ul.list_trang {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    justify-content: center;
}

ul.list_trang li {
    float: left;
    padding: 5px 13px;
    margin: 5px;
    background: burlywood;
    display: block;
}

ul.list_trang li a {
    color: #000;
    text-align: center;
    text-decoration: none;

}